/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

/*global variables for :root*/
:root
{
    --apple__white:#fbfbfb;
    --apple__black:#1d1d1f;
}
html 
{
    scroll-behavior: smooth;
}
/*Global style*/
body
{
    background-color: var(--apple__white);
    color: var(--apple__black);
    font-family: 'Nunito Sans', sans-serif;
}
.main__nav
{
    display: flex;
    width: 100%;
    height: 3rem;
    background-color: var(--apple__white);
    position: fixed;
    z-index: 10;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
}
.main__nav .nav__options
{
    display: none;
}
.main__nav .nav__logo
{
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    text-align: center;
}
.main__logo
{
    width: 30%;
}
/*Style for mobile menu and mobile menu animation*/
.mobile__menu
{
    height: 90vh;
    display: inline-block;
    align-items: center;
    position: absolute;
    width: 50vw;
    margin: -50px 0 0 -50px;
    padding: 80px 30px 30px 80px;
    -webkit-font-smoothing: antialiased;
    left: -300px;
    transition: left 0.5s;
    background-color: var(--apple__black);
    z-index: 20;
}
.mobile__menu__button
{
    z-index: 30;
    position: absolute;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after
{
    background-color: var(--apple__white) !important;
}
ul.mobile__menu > li
{
    margin: 2rem 0;
}
ul.mobile__menu > li > a
{
    text-decoration: none;
    color: var(--apple__white);
    font-weight: bold;
}
ul.mobile__menu > li > a:hover
{
    font-weight: normal;
}
.dark__section
{
    background-color: var(--apple__black);
    color: var(--apple__white);
}
.home__page
{
    padding-top: 3rem;
    height: 92.5vh;
    max-height: 95vh;
}
.code__presentation
{
    padding: 3rem 1.5rem;
}
.quote__pre
{
    color: #e15a60;
}
.tag__pre
{
    color: #6699cc
}
.text__pre
{
    color: var(--apple__white);
}
p .text__pre
{
    padding-left: 3rem;
}
.profile__picture__container
{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 5px 0px;
}
.profile__picture
{
    width: 180px;
    border-radius: 100%;
}
.social__networks
{
    display:flex;
    justify-items: center;
    width: 100%;
}
.social__networks > .social__links
{
    width: 25%;
    display: flex;
    justify-content: center;
}
.social__networks .social__links > a
{
    width: fit-content;
    display: flex;
    justify-content: center;
}
.social__link__logo
{
    width: 50%;
    height: auto;
}
.info__container
{
    padding: 2.5rem 2rem;
}
.section__tittle
{
    font-size: 2rem;
    font-weight: bolder;
    width: 100%;
    text-align: center;
    margin-bottom: 1.5rem;
}
.section__subtittle
{
    font-size: 1.1rem;
    font-weight: bold;
    width: 100%;
    text-align: center;
    margin: 1.5rem 0 1rem 0;
}
.info__container > p
{
    margin-bottom: 2rem;
}
.info__media
{
    width: 100%;
    height: auto;
    margin: 5px 0;
    border-radius: 10px;
    box-shadow: 4px 4px 10px 0px rgba(190,190,190,0.5);
    -webkit-box-shadow: 4px 4px 10px 0px rgba(190,190,190,0.5);
    -moz-box-shadow: 4px 4px 10px 0px rgba(190,190,190,0.5);
}
.skills__grid__table
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    width: 100%;
    margin-bottom: 2rem;
}
.skills__grid__element
{
    width: 100%;
    display: grid;
    align-items: center;
    text-align: center;
    justify-items: center;
}
.skills__grid__element > span
{
    margin: 10px 0;
}
.skills__element__icon
{
    width: 50%;
    height: auto;
    color: var(--apple__white);
}
[data-social]
{
    transition: filter ease-in-out 0.2s;
}
[data-social="github"]:hover
{
    filter: invert(79%) sepia(60%) saturate(4626%) hue-rotate(359deg) brightness(103%) contrast(106%);
    transition: filter ease-in-out 0.2s;
}
[data-social="linkedin"]:hover
{
    filter: invert(44%) sepia(98%) saturate(6686%) hue-rotate(185deg) brightness(97%) contrast(101%);
    transition: filter ease-in-out 0.2s;
}
[data-social="instagram"]:hover
{
    filter: invert(49%) sepia(97%) saturate(6024%) hue-rotate(316deg) brightness(90%) contrast(93%);
    transition: filter ease-in-out 0.2s;
}
[data-social="curriculum"]:hover
{
    filter: invert(69%) sepia(99%) saturate(421%) hue-rotate(45deg) brightness(95%) contrast(87%);
    transition: filter ease-in-out 0.2s;
}
.element__card
{
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 5px;
    margin-bottom: 2rem;
    box-shadow: 4px 4px 10px 0px rgba(190,190,190,0.5);
    -webkit-box-shadow: 4px 4px 10px 0px rgba(190,190,190,0.5);
    -moz-box-shadow: 4px 4px 10px 0px rgba(190,190,190,0.5);
    transition: ease 200ms;
}
.container__grid__center
{
    display: grid;
    justify-items: center;
}
.card__title
{
    padding: 0.5rem;
    font-weight: bold;
    font-size: 18px;
}
.card__media
{
    width: 100%;
}
.card__media > img
{
    width: 100%;
}
.card__media > a > img
{
    width: 100%;
}
.card__info
{
    padding: 0.5rem;
}
.dark
{
    color: var(--apple__black) !important;
}
.black__button
{
    width: 150px !important;
    height: 35px;
    display: flex;
    margin-bottom: 2rem;
}
.black__button > a
{
    width: 100%;
    height: 100%;
    border-color: var(--apple__white);
    border-width: 1px;
    border-style: solid;
    text-decoration: none;
    color: var(--apple__white);
    display: grid;
    justify-items: center;
    align-items: center;
    transition: ease-in-out 0.2s;
}
.black__button > a:hover, .black__button > a:focus
{
    background-color: var(--apple__white);
    color: var(--apple__black);
}
.contact__form
{
    background-color: var(--apple__black);
    width: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
    padding: 2rem 0.2rem;
}
.contact__form > div
{
    width: 100%;
    display: grid;
    justify-items: center;
}
.contact__form > div > input, .contact__form > div > textarea
{
    width: 70%;
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
    background-color: var(--apple__black);
    color: var(--apple__white);
    font-size: 16px;
    border-style: none none solid none;
}
.contact__form > div > textarea
{
    margin: 1.5rem 0;
    border-style: solid;
}
.contact__form > div > input:focus, .contact__form > textarea:focus
{
    color: var(--apple__black);
    background-color: var(--apple__white);
    outline: none;
}
.required__field
{
    border-color: #FF000066;
    background-color: #FF000022 !important;
}
.required__field:focus
{
    color:var(--apple__white) !important;
}
.error__alert
{
    width: 70%;
    text-align: left;
    color: #FF0000;
}
.modal__layout
{
    position: fixed;
    z-index: 20;
    inset: 0px;
    background-color: rgba(255,255,255,0.4);
    width: 100vw;
    height: 100vh;
    display: none;
}
.modal__div
{
    z-index: 30;
    position: absolute;
    width: 100%;
    height: auto;
    display: none;
    justify-content: center;
    overflow-y: scroll;
}
.modal__form
{
    position: relative;
    margin: 0 auto;
    width: 80%;
    height: 30vh;
    background-color: var(--apple__black);
    color: var(--apple__white);
    display: grid;
    justify-items: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
}
.main__footer
{
    background-color: var(--apple__black);
    color: var(--apple__white);
    padding: 1.5rem 2rem;
}
.main__footer > div
{
    text-align: center;
    margin: 0.5rem 0;
}
.main__footer > div > ul
{
    list-style: none;
    list-style-position: outside;
}
.main__footer > div > ul > li > a
{
    color: var(--apple__white);
}
/*Desktop style*/
@media(min-width: 760px)
{
    .main__nav > div
    {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
    }
    .main__nav > .nav__logo
    {
        width: 50%;
        display: flex;
        align-items: center;
        padding-left: 2rem;
    }
    .main__nav > .nav__logo > a
    {
        width: fit-content;
    }  
    .main__logo
    {
        width: 20%;
    }
    .main__nav > .nav__options
    {
        display: flex;
        justify-content: space-between;
        padding-right: 2rem;
    }
    .main__nav > .nav__options > a
    {
        text-decoration: underline transparent;
        color: var(--apple__black);
        transition: text-decoration 0.2s ease-in-out;
    }
    .main__nav > .nav__options > a:hover
    {
        text-decoration: underline;
    }
    #mobile__menu__toggle
    {
        display: none;
    }
    .code__presentation
    {
        font-size: 20px;
        padding: 1.5rem 5rem;
    }
    .profile__picture__container
    {
        width: 100%;
        display: flex;
        justify-content: left;
        margin: 5px 0px;
    }
    .profile__picture
    {
        width: 280px;
    }
    .desktop__container__aux
    {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .grid__container__aux
    {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        grid-gap: 2rem;
    }
    .social__networks
    {
        width: 50%;
    }
    .social__networks .social__links
    {
        width: 25%;
        display: flex;
        justify-content: center;
    }
    .social__networks .social__links a
    {
        width: fit-content;
        display: flex;
        justify-content: center;
    }
    .social__link__logo
    {
        width: 40%;
        height: auto;
    }
    .section__info
    {
        display: flex;
        justify-content: center;
    }
    .info__container
    {
        padding: 2.5rem 2rem;
        width: 80%;
        display: grid;
        align-items: center;
    }
    .info__media
    {
        width: 35%;
        height: auto;
        margin: 5px 2rem;
        border-radius: 10px;
        box-shadow: 4px 4px 10px 0px rgba(190,190,190,0.5);
        -webkit-box-shadow: 4px 4px 10px 0px rgba(190,190,190,0.5);
        -moz-box-shadow: 4px 4px 10px 0px rgba(190,190,190,0.5);
        transition: 200ms ease;
    }
    .info__media:hover, .element__card:hover
    {
        -webkit-transform: scale(1.02);
        -ms-transform: scale(1.02);
        transform: scale(1.02);
        box-shadow: 8px 8px 10px 0px rgba(80,80,80,0.6);
        -webkit-box-shadow: 8px 8px 10px 0px rgba(80,80,80,0.6);
        -moz-box-shadow: 8px 8px 10px 0px rgba(80,80,80,0.6);
        transition: 200ms ease;
    }
    .skills__grid__table
    {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
        width: 100%;
        margin-bottom: 2rem;
    }
    .five
    {
        grid-column: 2;
        grid-row: 2;
    }
    .six
    {
        grid-column: 3;
        grid-row: 2;
    }
    .skills__element__icon
    {
        width: 30%;
        height: auto;
    }
    .element__card
    {
        width: 100%;
        margin: 3rem 1rem;
    }
    .modal__form
    {
        width: 30%;
        height: 30vh;
    }
    .main__footer
    {
        display: flex;
        justify-content: space-between;
        padding: 0 16rem;
    }
    .main__footer > div
    {
        text-align: left;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .main__footer > div > ul
    {
        margin: 0;
    }
}